<nav class="whole-nav">
    <header class="header-nav">
        <div class="logo--name">
            <a href="/home">
            <img src="../KKN Restaurant Logo.png" alt="logo" class="nav-logo">
            </a>
            <h2 class="name">KKN Restaurant Delivery</h2>
        </div>

        <ul class="ul-nav">
            <a href="/sign-in"><li class="list-item-nav">LOGIN</li></a>
            <a href="/cart">
              <div class="cart">
                <i class="bi bi-cart2"></i>
                <div id="cartAmount" class="cartAmount">0</div>
              </div>
            </a>        
        </ul>
    </header>
</nav>
  <div class="shop" id="shop">


  </div>

  <script src="/Silog/src/cart.js"></script>
  <script src="/Silog/src/Data.js"></script>
  <script src="/Silog/src/main.js"></script>